@import "/src/styles/breakpoints.scss";

.buttons {
  width: 100%;
  margin: 2rem 0;

  .buttons__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;

    @include mobile {
      justify-content: center;
    }
  }
}
