@import "/src/styles/variables.scss";
@import "/src/styles/breakpoints.scss";

.button {
  @include body-large;
  color: $off-white;
  fill: $off-white;
  stroke: $off-white;
  background-color: transparent;
  height: 44px;
  border-radius: 22px;
  padding: 0.5rem 2rem;
  border: $medium-grey 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  p {
    @include body-large;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      path {
        stroke: inherit;
      }
    }
  }
}

.button--isRound {
  padding: 0;
  width: 44px;
}

.button:active {
  background-color: $graphite;
}

.button:hover {
  border: $color-primary 1px solid;
  background-color: $color-primary;

  p {
    color: $graphite;
    svg {
      path {
        stroke: $graphite;
      }
    }
  }
}

.button:focus {
  border: $color-primary 1px solid;
}

.button:disabled {
  border: none;
  color: $dark-grey;
}
