@import "/src/styles/variables.scss";
@import "/src/styles/breakpoints.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: fit-content;
  position: relative;
  border-bottom: 1px solid $medium-grey;

  .header__bar {
    @include body-very-small;
    align-items: center;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @include mobile {
      flex-direction: row-reverse;
      height: 40px;
    }

    .logo-like {
      @include header-h6;
      color: $red-dark;
      text-transform: uppercase;
    }
  }
}

.main-footer {
  @include body-very-small;
  align-items: center;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-top: $medium-grey 1px solid;

  p {
    color: $dark-grey;
  }
}
