@import "/src/styles/variables.scss";
@import "/src/styles/breakpoints.scss";
@import "/src/styles/mixins.scss";

.contact {
  @include content-width {
    padding-top: 10rem;

    @include mobile {
      padding-top: 5rem;
    }
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 2.5rem;
  margin-bottom: 10rem;

  .contact__header {
    @include header-h1;
    padding: 0;
    color: $color-primary;
    line-height: 5rem;
    vertical-align: middle;

    @include mobile {
      @include header-h3;
    }
  }

  .contact__line {
    @include body-very-large;
    color: $light-grey;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include mobile {
      @include body-large;
    }

    svg {
      margin-right: 1rem;
    }
  }
}
