@import "./_variables.scss";
@import "./_breakpoints.scss";
@import "./_mixins.scss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  @include body-small;
  color: $off-white;
  background: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

label,
input {
  display: block;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

p {
  @include body-medium;
  text-wrap: pretty;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

main {
  @include page-width;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10rem;
}

header,
footer {
  @include page-width;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  @include body-large;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h6 {
  @include header-h6;
}
h5 {
  @include header-h5;
}
h4 {
  @include header-h4;
}
h3 {
  @include header-h3;
}
h2 {
  @include header-h2;
}
h1 {
  @include header-h1;
}

article {
  @include body-small;
}


