@import "/src/styles/variables.scss";

.navigation-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  li {
    @include body-medium;
    list-style-type: none;
    padding: 16px;
    color: $medium-grey;
    height: 100%;

    .navlink {
      cursor: pointer;
    }

    .navlink:active,
    .navlink:hover {
      color: $off-white;
    }

    .navlink__active {
      color: $off-white;
    }
  }
}
