@import "/src/styles/variables.scss";
@import "/src/styles/breakpoints.scss";

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include mobile {
    display: none;
  }

  ul {
    li {
      list-style-type: none;
      padding: 16px;
      height: 100%;
    }
  }
}
