@import "/src/styles/variables.scss";
@import "/src/styles/breakpoints.scss";

.navigation {
  @include mobile {
    display: none;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li {
      list-style-type: none;
      padding: 16px;
      height: 100%;
    }
  }
}
