@import "/src/styles/variables.scss";
@import "/src/styles/mixins";

.burger {
  height: 100%;
  width: fit-content;
  z-index: 2;
  display: none;

  @include mobile {
    display: grid;
    place-items: center;
  }

  svg {
    path {
      stroke: $off-white;
    }
  }
}
