@import "/src/styles/variables.scss";
@import "/src/styles/breakpoints.scss";

.download__button {
  width: 100%;
  display: grid;
  place-items: center;

  @include mobile {
    button {
      min-width: 100%;
    }
  }
}
