@import "/src/styles/variables.scss";
@import "/src/styles/breakpoints.scss";

.home__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5rem;
  align-items: center;

  p {
    @include header-h2;
    width: 100%;
    text-align: center;
  }
}
