@import "/src/styles/variables.scss";
@import "/src/styles/breakpoints.scss";

.homepage__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3rem;
  gap: 1rem;
  align-items: center;

  img {
    width: 600px;
    height: 600px;
    -webkit-filter: drop-shadow(0 0 40px $graphite);
    filter: drop-shadow(0 0 40px $graphite);
  }

  section {
    @include header-h2;
    color: $color-primary;
    width: 100%;
    margin: 5rem 0;
    text-align: center;
  }
}
