@import "/src/styles/variables.scss";
@import "/src/styles/breakpoints.scss";

.homepage {
  width: 100%;
  min-height: calc(100vh - 7rem);
  position: relative;
  margin-bottom: 12rem;

  .homepage__anchor {
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .homepage__photo {
      width: 50%;
      padding: 0 2rem 0 0;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      .homepage__name {
        @include header-h1;
        font-size: 50px;
        color: $graphite;
        padding-left: 2rem;
        word-wrap: no-wrap;
      }
    }

    .homepage__side {
      @include header-h4;
      width: 50%;
      position: relative;

      .homepage__upper {
        color: $off-white;
        position: absolute;
        right: 0;
        bottom: 10.5rem;
        width: 100%;
        text-align: end;
      }

      .homepage__lower {
        position: absolute;
        right: 0;
        top: 100%;
        width: 100%;
        text-align: end;
      }
    }
  }

  @include mobile {
    margin-bottom: 6rem;

    .homepage__anchor {
      margin-top: 2rem;
      position: static;
      height: auto;
      flex-direction: column;

      .homepage__photo {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding: 0;

        .homepage__name {
          font-size: 32px;
          padding: 0;
        }

        img {
          min-width: 300px;
          width: 50%;
          height: auto;
          object-fit: cover;
        }
      }

      .homepage__side {
        margin-top: 2rem;
        position: static;
        width: 100%;

        .homepage__upper {
          position: static;
          bottom: 0;
        }

        .homepage__lower {
          position: static;
        }
      }
    }
  }
}
