@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.section {
  width: 100%;

  .section__heading {
    @include content-width;
    height: 118px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-top: $dark-grey solid 1px;
    color: $medium-grey;
  }

  .section__content {
    width: 100%;
    padding: 1.5rem 0 10rem;
  }
}
