@import "/src/styles/variables.scss";
@import "/src/styles/breakpoints.scss";
@import "/src/styles/mixins.scss";

.accomplishments {
  .accomplishments__description {
    @include body-very-large;
    @include content-width {
      padding-bottom: 1rem;
    }
    color: $light-grey;
  }

  .accomplishments__paragraph {
    @include body-medium;
    margin-top: 0.75rem;
  }
}
